<!DOCTYPE html>
<html lang="en">

<head>
    {% block title -%}
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Магазин цветов FlowerShop</title>
    {% endif %}
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="bg-light">
    {% block content -%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="auth">Авторизация</a></li>
        <li class="nav-item"><a class="nav-link" href="FAQ">О сайте</a></li>
        <li class="nav-item"><a class="nav-link" href="dashboard">Страница управления</a></li>
        <li class="nav-item"><a class="nav-link" href="logout">Выйти</a></li>
    </ul>
    <span class="navbar-brand">Магазин цветов <b>"FlowerShop"</b></span>
</nav>


    <div class="container mt-4">
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
