{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="container mt-5">
        <p class="mb-4 text-center"><label>Привет, <b>{{ current_user.firstname }} {{ current_user.lastname }}</b>! Ваш уровень доступа: <b>{{ current_user.post }}</b>.</label></p>

        <h1 class="text-center mb-4">Панель инструментов</h1>
        <div class="d-flex flex-row justify-content-center">
            <ul class="list-group">
                {% if current_user.post == "работник" %}
                    <li class="list-group-item"><a href="create_order">Создать заказ</a></li>
                {% endif %}

                {% if current_user.post == "менеджер" %}
                    <li class="list-group-item"><a href="create_order">Создать заказ</a></li>
                    <li class="list-group-item"><a href="view_orders">Просмотр заказов</a></li>
                {% endif %}

                {% if current_user.post == "владелец" %}
                    <li class="list-group-item"><a href="create_order">Создать заказ</a></li>
                    <li class="list-group-item"><a href="view_orders">Просмотр заказов</a></li>
                    <li class="list-group-item"><a href="manage_flowers">Управление цветами в ассортименте</a></li>
                    <li class="list-group-item"><a href="add_employee">Управление сотрудниками</a></li>
                    <li class="list-group-item"><a href="view_customers">Просмотр клиентов</a></li>
                    <li class="list-group-item"><a href="view_revenue">Просмотр выручки</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
