{% extends 'dashboard.html' %}

{% block content %}
{{ super() }}
<body class="container mt-4">
<h1 class="mt-4 text-center">Выручка</h1>

<table class="table table-bordered text-center">
    <thead>
    <tr>
        <th>Выручка за сегодня</th>
        <th>Выручка за неделю</th>
        <th>Выручка за месяц</th>
    </tr>
    </thead>
    <tbody>
    {% for row in revenue %}
    <tr>
        <td>{{ row[0] }} руб.</td>
        <td>{{ row[1] }} руб.</td>
        <td>{{ row[2] }} руб.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}
